body{
    /* background-image: url(/img/whitebg.jpg);
    background-position: center;
    background-size: cover; */
    background-color: #1bac87    ;
    margin: 0;
}
.box{
    display: flex;
    justify-content: center;
}

.text-center{
    font-size: 50px;
    color: black;
    text-align: center;
}
.container{
    box-shadow:15px 18px 10px #3e478f;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #14213D;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container:hover{
    
    box-shadow:-15px 18px 10px #3e478f;
}
button{
    box-shadow:5px 4px 6px #1bac87;
    border: none;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #FCA311;
    width: 60px;
    height: 60px;
    margin: 5px;
}
button:hover{
    background-color:#1bac87;
    color: #14213D;
    box-shadow:5px 4px 6px #FCA311 ;
}
.number-box{
    color: #14213D;
    border-radius: 20px;
    padding: 10px;
    font-size: 35px;
    width: 350px;
    height: 40px;
    margin: 20px;
}
